body {
  background-color: #454545;
  min-height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Mooli', sans-serif;
}

h1 {
  color: #FF6000;
  text-align: center;
}

h2 {
  color: #FFA559;
  text-align: center;
}

.mission {
  display: inline-flex;
  background-color: #FFE6C7;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  color: #454545;
}

.mission h3 {
  color: #454545;
}

.mission h4 {
  text-align: center;
  border-radius: 15px;
  color: white;
  width: min-content;
  padding: 5px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mission img {
  width: 200px;
  height: 125px;
  margin: 15px;
}

.agency img {
  margin-top: 10px;
  border-radius: 15px;
  width: 400px;
  height: 250px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}
