html {
    background-color: black;
}
h1 {
    text-transform: uppercase;
}
.motv_img {
    width: 100%;
    border: 5px solid white;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
.texting {
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
