<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Todo</title>
</head>
<header>
    <nav>
        <a class="nav-link" href="/">&#128197 Today</a>
        <a class="nav-link" href="/work">&#128187 Work</a>
    </nav>
</header>
<body>
  <main>

