body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 95hv;
    background-color: #053B50;
}

#heading {
    background-color: #176B87;
    color: #EEEEEE;
}

.box {
    margin: 50px auto;
    border-radius: 5px;
    background-color: #64CCC5;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    font-size: 20px;
}

a{
    color: #EEEEEE;
}

footer {
    color: #EEEEEE;
}
